@charset "utf-8";
body{
    background: url("../images/bg.png");
}
.log_in,.Register,.For_Password,.More_prods,  .Contact,.Time{
    font-family: "MicrosoftYaHei";
}
section{

            width: 1043px;
        position: relative;

    margin: 0 auto;

    
}
/*登录标题*/

.Login_Title{
    text-align: center;
    color: #666666;
    font-size: 48px;
    font-weight: bold;
    font-family: "宋体";
        margin-top: 49px;
    margin-bottom: 70px;


}
.More_prods{
    font-size: 16px;
    color: #ffffff;
}
     /*登录图片·*/
.Log_Pic{
   position: relative;
    z-index: 1;
   /* float: left;*/
    height: 496px;
    width: 605px;
}
.Log_Pic img{
    width: 100%;
    height: 100%;
}
     /*登录表单*/
.Log_form{

   /* position: absolute;
    z-index: 2;*/

    float: right;
       margin-top: -476px;
    height: 460px;
    width: 584px;
    background-color: #ffffff;
}
.log_form1{
 margin-left: 188px;
    height: 100%;
    width: 338px;

}
.log_in,.Register,.For_Password,.More_prods{
    text-decoration: none;
    display: inline-block;

}
.log_in{

    font-size: 30px;
    color: #ff8e1f;

}
.log_in:link,.Register:link, .For_Password:link,.More_prods:link{
    text-decoration: none;

}

.log_in:visited,.Register:visited,.For_Password:visited,.More_prods:visited{
    text-decoration: none;}

.log_in:visited{
    color: #ff8e1f;

}
.log_in:link{
    color: #ff8e1f;

}
.log_in:hover{
    color: #ff8e1f;
}
 .log_in:hover,.Register:hover, .For_Password:hover,.More_prods:hover{
     text-decoration: none;


 }


    .Register{ color: #999999;

      font-size: 14px;
          float: right;
      margin-top: 10px;

}
.Register:visited{

    color: #999999;
}
    .Register:hover{

        color: #999999;

    }


  .Log_Input input{
        outline: none;
      border: none;
      background: none;
  }
   .log_border{
       text-indent: 1em;
       padding-bottom: 10px;
       width: 100%;
       border-bottom: 1px solid #e4e4e4;
   }
       .IdCode{

           height: 44px;

       }

       .id_input{     text-indent: 1em;
          width: 180px!important;
           display: block;
                 margin-top: 42px;
         border-bottom: 1px solid #e4e4e4;
       }
.id_input input{
    width: 180px!important;
          padding-bottom: 10px;
}
   .id_code{
       margin-top: -42px;
       border: none;
   margin-left: 206px;
        width: 132px;
       height: 100%;
              display: block;
        background-color: #e4e4e4!important;
        outline: none;
    }

      .login_bg{
            background: #ffffff;
          outline: none;
          border: none;
          font-size: 18px;
          color: #ffffff;
          width: 100%;
          height: 44px;
          border-radius: 22px;
   background: url("../images/btn-login.png")no-repeat;
      }
.login_bg:hover{

    box-shadow: 0 6px 15px 6px rgba(255,130,78,0.2);
}
     .For_Password{
         margin-top: 28px;
         float: right;
         color: #999999;
         font-size: 14px;
     }
.For_Password:visited{

    color: #999999;
}
        .For_Password:hover{

            color: #999999;
        }
.More_prods{
    width: 100px;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 65px;
   /* margin-top: -40px;*/
    color: #ffffff!important;
    text-decoration: none;
}
.More_prods :link{
    color: #ffffff!important;
}
.More_prods :visited{
    color: #ffffff;

}
.More_prods:hover {
    color: #ffffff;
}
.More_prods :active{
    color: #ffffff;

}
    /*联系电话*/
.Contact{
    margin-left: 500px;

    margin-top: 192px;
    font-size: 14px;
    color: #666666;

}

